@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  background: #09090B;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}